footer
    .footer
        ul.show
            li
                a(href='./index.html') 首页
                span(style={margin:'0px 10px 0px 10px;'}) |
            li
                a(href='./enterpriseAdvantage.html') 企业服务
                span(style={margin:'0px 10px 0px 10px;'}) |
            li
                a(href='./case_appDevelopment.html') 案例展示
                span(style={margin:'0px 10px 0px 10px;'})  |
            li
                a(href='./about_us.html') 关于我们
        .follow
            .code
                .img
                    img(src='/img/web/code.png')
                .content 扫一扫关注我们

            ul
                li
                    span 电话:020-80929929
                li 
                    span 邮箱:lctechnology@126.com
                li
                    span 地址:广州市海珠区宸悦路叁悦广场B塔1204
                li
                    span
                li
                    span 广州市量川科技有限公司
                    span
                        a(href='http://www.miitbeian.gov.cn') 粤ICP备17072453
