
doctype html
html
    head
        meta(charset='utf-8')
        //Mobile Meta
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        block loadtitle
        title= title
        meta(name="keywords",content= keywords)
        meta(name="description",content= description)
        link(rel='shortcut icon',href='/img/web/logo.ico')

.header
    a(href='/')
        img.logo(src='/img/web/logo.png', alt='图片', title='量川科技')
    ul
        li
            a(href='/') 首页
            div HOME
        li
            a(href='/case_app') 经典案例
            div CLASSIC CASE 
        li
            a(href='/about_us') 关于我们
            div ABOUT US
        li
            a(href='/cms') 后台管理
            div Backstage system

//- section.container-fluid
//-     #carousel-generic-1.carousel.slide(data-ride="carousel")
//-         -var carousellist = website.carousel.split('|')
//-         // 下方小圆点
//-         ol.carousel-indicators
//-             -for (var i in carousellist)
//-                 li(data-target="#carousel-generic-1",data-slide-to= i,class= i==0?'active':'')

//-         // 包装的幻灯片
//-         .carousel-inner(role="listbox")
//-             -for (var i in carousellist)
//-                 .item(class= i==0?'active':''): img(src= carousellist[i])
//-                 //.carousel-caption 第一张轮播
//-         // 控制器
//-         a.left.carousel-control(href="#carousel-generic-1",role="button",data-slide="prev")
//-             span.glyphicon.glyphicon-chevron-left
//-             span.sr-only Previous
//-         a.right.carousel-control(href="#carousel-generic-1",role="button",data-slide="next")
//-             span.glyphicon.glyphicon-chevron-right
//-             span.sr-only Next