
.banner_img
    .content
        .top
            div  专注第三方软件开发
            div  领先的互联网应用软件的增值服务
        .foot    技术驱动品质
.container
    .advantage
        .title
            span Enterprise advantage
        .title_
            span 企业优势
        .content
            .content_   
                ul
                    li
                        .img
                            img(width='64px', height='64px', src='/img/web/fangan.png')
                        .content_1 方案合理
                            .line
                                span
                        .content_2
                            span 以上百家成功案例经验，量身定制最合理的开发方案
                    li
                        .img
                            img(src='/img/web/zhiliang.png')
                        .content_1 质量可靠
                            .line
                                span
                        .content_2
                            span 遵照全球公认的ISO质量体系，精细打磨产品每一个细节
                    li
                        .img
                            img(src='/img/web/zhunshi.png')
                        .content_1 交付准时
                            .line
                                span
                        .content_2
                            span 开发经验丰富的专业外包团队，精准把控整个开发流程
                    li
                        .img
                            img(src='/img/web/heart.png')
                        .content_1 服务贴心
                            .line
                                span
                        .content_2
                            span 深入贯彻全民客服的理念，360度跟进你的需求

        .service
            .title
                span Service advantage
            .title_
                span 服务流程
            .content_
                ul
                    li
                        .img
                            img(src='/img/web/zixun.png')
                        .content_1
                            span 项目咨询
                    li
                        .img
                            img(src='/img/web/peixun.png')
                        .content_1
                            span 操作培训
                    li
                        .img
                            img(src='/img/web/jishu.png')
                        .content_1
                            span 技术支持
                    li
                        .img
                            img(src='/img/web/weihu.png')
                        .content_1
                            span 后期维护    

        .case
            .title
                span Case sharing
            .title_
                span 案例分享
            .share   

                .share_1
                    ul
                        li
                            .img
                                img(src='/img/web/system_lc.png')
                            .bg
                                span
                        li
                            .title 量川云物流系统
                            .share_content  一个服务于物流企业的运单管理系统，致力于解决物流企业间的运单流转和数据互通
                        li
                            .img
                                img(src='/img/web/lc_gzh.png')
                            .bg
                                span 量川云微信公众号
                        li
                            .title 量川云微信公众号
                            .share_content  量川云物流系统的微信公众号，功能包括查询订单、发送提货、送货消息等。  

                .share_2
                    ul
                        li
                            .title 然后订餐
                            .share_content  为"然后"咖啡厅定制的微信公众号订餐功能，实现公众号粉丝和订单的双向转化。
                        li
                            .img
                                img(src='/img/web/coffee_rh.png')
                            .bg
                                span 然后订餐
                        li
                            .title 紫然肌官网
                            .share_content 为紫然肌健身中心量身定制的企业官网，为紫然肌提供一个线上的门面。
                        li
                            .img
                                img(src='/img/web/website_zrj.png')
                            .bg
                                span 紫然肌官网            

        .process
            .title.process_title
                 span Service Process
            .title_.process_title_
                 span 服务流程
            .content_   
                   ul
                      li.right
                            .process_right
                                   span 1
                                   .right
                                         .title 项目规划方案
                                         .content
                                                p 原型、需求文档、立项、人员安排、时间规划表等。

                      li.line
                             span

                      li.left
                            .process_left
                                   .left
                                          .title 前端工作
                                          .content
                                                p UI设计，调整修改设计稿，与客户确认定稿。
                                   span 2
                      li.line
                             span

                      li.right
                            .process_right
                                   span 3
                                   .right
                                         .title 程序开发
                                         .content
                                                p 架构设计，核心程序开发。
                      li.line
                             span

                      li.left
                            .process_left
                                   .left
                                          .title 项目联调
                                          .content
                                                p 前后端联调，整合及细节调整。
                                   span 4
                      li.line
                             span

                      li.right
                            .process_right
                                   span 5
                                   .right
                                         .title 项目测试
                                         .content
                                                p 项目测试及内部验收。
                      li.line
                             span

                      li.left
                            .process_left
                                   .left
                                         .title 项目验收
                                         .content
                                               p 客户验收及正式环境上线运行。
                                   span 6
                                   
        .customer
            .title
                span Service customers
            .title_
                span 服务客户
            .content_
                    ul
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo1.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo2.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo3.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo4.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo5.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo6.png')
                    ul
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo7.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo8.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo9.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo10.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo11.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo12.png')
                    ul
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo13.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo14.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo15.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo16.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo17.png')
                        li
                           .img
                               img(width='100px', height='100px', src='/img/web/logo18.png')
